<div class="col-md-4" *ngFor="let summoner of summoners">
    <div class="media summoner bg-primary">
        <div class="media-left icon">
            <img class="media-object" src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/profileicon/{{summoner.profileIconId}}.png" />
            <span class="badge">{{summoner.summonerLevel}}</span>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{summoner.name}}</h4>
        </div>
    </div>
    <div id="summoner-details-{{summoner.id}}" class="clearfix"></div>
</div>