@foreach(var Summoner in Model) {
    <div class="col-md-4">
        <div class="media summoner bg-primary">
            <div class="media-left icon">
                <img class="media-object" src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/profileicon/@(Summoner.profileIconId).png" />
                <span class="badge">@Summoner.summonerLevel</span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Summoner.name </h4>
                <div>@Summoner.getRevisionDate().ToString("MMMM dd, yyyy H:mm")</div>
            </div>
        </div>
        <div id="summoner-details-@Summoner.id" class="clearfix"></div>
    </div>

    <script>
        jQuery(document).ready(function(){
            var container = jQuery("#summoner-details-" + @Summoner.id);
            jQuery.get("/summoner/details/" + @Summoner.id, function(data){
                container.append(data);
            });
        });
    </script>
}