@{
    Layout = null;
 }
 @model List<LeagueApi.Models.Summoner>

@foreach(var Summoner in Model)
{
 <div class="col-md-4">
    <div class="media summoner">
        <div class="media-left icon">
            <img class="media-object" src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/profileicon/@(Summoner.profileIconId).png" />
            <span class="badge">@Summoner.summonerLevel</span>
        </div>
        <div class="media-body">
            <h4 class="media-heading">@Summoner.name</h4>
            <div>@Summoner.getRevisionDate().ToString("MMMM dd, yyyy H:mm")</div>
        </div>
    </div>
</div>
}